body{
    margin: 0px;
    background-image: url(img/bg-combine.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Titillium Web';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.container{
    display: flex;
    flex-direction: column;
}

.cols{
    display: flex;
    flex-direction: row;
}

.col{
    margin: 40px;
}

h1{
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.top_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

img{
    opacity: 0.4;
}

.button{
    border: 1px solid #3b9a00;
    border-radius: 3px;
    background-image: linear-gradient(#addc54,#7ec31f );
    width: 336px;
    height: 46px;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0.559px 0.829px 0px rgba(81, 133, 14, 0.004);
    color: #ffffff;
}

.small_button{
    width: 137px;
    height: 39px; 
    font-size: 19px;
}

.disabled{
    background-image: linear-gradient(#cde4b0, #abd182);
    margin-left: 62px;
}

.no_thanks{
    background-image: linear-gradient(#f76f7f, #f03747);
    margin-left: 62px;
    border-color: #a2202a;
}

.div_textarea{
    width: 336px;
    height: 228px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.form{
    width: 336px;
    height: 37px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.form:first-child{
    margin-top: 20px;
}

.input{
    width: 200px;
    height: 32px;
    font-size: 16px;
    color: #afafaf;
    margin-left: 30px;
    border: none;
}

.select{
    -webkit-appearance: none; 
    width: 240px;
    text-overflow: ellipsis;
}

.input:focus{
    outline: none;
}

::placeholder{
    color: #afafaf;
    opacity: 1;
}

.line{
    width: 1px;
    height: 28px;
    background-color: #e4e4e4;
}

.pictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    margin: 10px;
    width: 35px;
    height: 37px;
}

.pictures img{
    opacity: 1;
}

input[type=checkbox]{
    display: none;
}

.checkbox{
    width: 25px;
    height: 25px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-right: 10px;
}

.is_checked{
    width: 13px;
    height: 13px;
    display: none;
    background-color: #8ac915;
    border-radius: 3px;
}

.check{
    width: 336px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
    color: #afafaf;
    margin-bottom: 20px;
}

.check_row{
    width: 199px;
    margin-bottom: 0px;
}

.row_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*================================================*/
.in_register, .in_send_email, .in_sing_in, .in_recovery, .in_subscribe{
    background: #f4f4f4;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register, .send_email, .sing_in, .recovery, .subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register{
    width: 420px;
    height: 460px;
}

.in_register{
    width: 382px;
    height: 421px;
}

.send_email{
    width: 420px;
    height: 536px;  
}

.in_send_email{
    width: 384px;
    height: 496px;
}

.sing_in{
    width: 420px;
    height: 260px;  
}

.in_sing_in{
    width: 382px;
    height: 218px;
}

.recovery{
    width: 420px;
    height: 260px;  
}

.in_recovery{
    width: 382px;
    height: 218px;  
}

.subscribe{
    width: 417px;
    height: 196px;  
}

.in_subscribe{
    width: 381px;
    height: 156px;  
}

.border{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
/*================================================*/
